.father {
  display: flex;
  justify-content: space-around;
  height: 200vh;
  flex-wrap: wrap;
  align-content: space-between;
}

.child {
  font-size: 50px;
  width: 200px;
  height: 200px;
  background-color: peru;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
