.father {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.child {
  font-size: 50px;
  width: 200px;
  height: 200px;
  background-color: peru;
  color: white;
}

.child:nth-child(1) {
  order: 2;
}

.child:nth-child(3) {
  order: 3;
  align-self: flex-end;
}

.child:nth-child(2) {
  order: 1;
  align-self: center;
}
