.grid {
  display: grid;
  gap: 5px;
  grid-template-columns: [first-line] 100px [second-line] 100px [third-line] 100px [forth-line] 100px;
  grid-template-rows: 50px repeat(2, 100px) 50px;
}

.header {
  background-color: #2ecc71;
  grid-column: span 4;
}
.content {
  background-color: #3498db;
  grid-column: first-line / -2;
  grid-row: span 2;
}
.nav {
  background-color: #8e44ad;
  grid-row: span 2;
}
.footer {
  background-color: #f39c12;
  grid-column: span 4;
}
